@model IEnumerable<SalesWebMvc.Models.Department>

@{
    // Atribui um valor a uma determinada chave especificada do dicionário
    ViewData["Title"] = "Departments";
}

<! Definição de titulo>
<h1>Departments</h1>

<! helper method para gerar um link para um método de 'Ação' automaticamente>
<p>
    <a asp-action="Create">Create New</a>
</p>

<! Definição e montagem de colunas da tabela>
<table class="table">
    <thead>
        <tr>
            <th>
                <! Essa expressão Lambda passada como parametro serve para selecionar qual dado do model será exibido no cabeçalho>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <! Definição e montagem de linhas da tabela>
    <! Percorre a coleção(Model) que veio do Model>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    </tbody>
</table>